.title-component-header{
	text-align: justify;
	font-family: sans-serif;
	margin: 3rem;
	padding: 2rem;
}

.title-component-sub-header{
	text-align: justify;
	font-family: sans-serif;
	margin: 3rem;
	padding: 2rem
}
.coffee-bean-image{
	height: 100px;
	width: 120px;
	float: left;
}